<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OperationTypeMapper">
	<resultMap type="chiphead.model.OperationType" id="OperationTypeResultMap"> 
		<id property="typeId" column="type_id"/> 
		<result property="typeName" column="type_name"/> 
	</resultMap> 
	
  <!-- 查询一个 -->
  <select id="selectOperationType" parameterType="Integer" resultMap="OperationTypeResultMap">
    SELECT * FROM oper_type WHERE type_id = #{typeId}
  </select>
  
  <!-- 根据类型名查询一个 -->
  <select id="selectOperationTypeByTypeName" parameterType="String" resultMap="OperationTypeResultMap">
    SELECT * FROM oper_type WHERE type_name = #{typeName}
  </select>
  
  <!-- 根据类型id查询一个 -->
  <select id="selectOperationTypeByTypeId" parameterType="Integer" resultMap="OperationTypeResultMap">
    SELECT * FROM oper_type WHERE type_id = #{typeId}
  </select>
  
  <!-- 根据类型id查询类型名 -->
  <select id="selectTypeNameByTypeId" parameterType="Integer" resultType="String">
    SELECT type_name FROM oper_type WHERE type_id = #{typeId}
  </select>
  
  <!-- 查询多个 -->
  <select id="selectAllOperationTypes" resultMap="OperationTypeResultMap">
    SELECT * FROM oper_type
  </select>
</mapper>